body {
    margin: 0 auto;
    font-family: monospace;
}
.container {
    color: #FFF;
    max-width: 910px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.twice {
    width: 100px;
    background: #9d0000;
}
.once {
    width: 50px;
    background: #414141;
}
.space {
    width: 300px;
    background: #720072;
}
.row {
    display: flex;
    padding: 5px 0;
}
.row:nth-last-child(1) {
    gap: 0.22rem;
}
.once, .twice, .space {
    margin: 0 3px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}
.once:hover, .twice:hover, .space:hover {
    box-shadow: 0 0 10px 3px #ffd3d3;
}
.once:active, .twice:active, .space:active {
    box-shadow: 0 0 10px 3px #ff3e3e;
}
.on {
    box-shadow: 0 0 10px 3px #ff3e3e;
}
.textarea {
    height: 100px;
    width: 350px;
    margin: 30px 0;
    border: 2px #d6d6d6 solid;
    resize: none;
}
.notice {
    background: #414141;
    padding: 5px;
}